@import "../../../globals.scss";

.msg {
  position: relative;
  font-size: 16px;
  padding: 10px;
  width: fit-content;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 30px;

  .user {
    position: inline-block;
    white-space: nowrap;
    font-weight: 500;
    font-size: 13px;

    .username {
      margin-right: 10px;
      color: blue;
    }
    .name {
      color: $gray;
    }
  }
  .msg-body {
    .timestamp {
      margin-left: 10px;
      font-size: 12px;
    }
  }

  &.sender {
    background-color: $chatGreen;
    margin-left: auto;
  }
}
